[2018-02-27 17:45] onechiporenko commented on #300
@GrupossiDT, this can't be done in the `ember-models-table`-scope. `data` passed to the component may be received from any place (e.g. from `store` or be just a simple array).

So, you should add a new record to the `data` used in the table:

[code]

`tableData` is bound to the `models-table` like:

[code]

`newRecord` will automatically appears in the table.

[2018-03-04 11:55] onechiporenko opened #302 "Add flag `simple` to the columns"
* **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **[Feature] What is the motivation / use case for changing the behavior?**

Add flag `simple` for each column. When it's `false` component works as usual. If it's `true` colu

[2018-03-05 18:11] #302 closed

[2018-03-08 15:41] GrupossiDT commented on #300
@onechiporenko  that's right we just call our api and after save de data to DB push the object and the table automatically show the record.

you have in maind add this new fwature and create a model from the data ?

[2018-03-09 15:32] onechiporenko opened #303 "Add a "summary"-row for grouped rows"
* **I'm submitting a ...**

  - [x] feature request

* **[Feature] What is the motivation / use case for changing the behavior?**

Table-footer shows summary-info for all rows, however there is no way to show summary for grouped rows. `groupingRowComponent` is added. Usage example:

[code]

[code]

[code]

[2018-03-09 15:46] cah-briangantzler commented on #303
Shouldn't that have have been a property
[code]
and then the component placed in theme like all other components?

Could also provide a fallback as
[code]
Like column components to allow for override IF you needed to pass additional properties or actions

[2018-03-09 15:51] cah-briangantzler commented on #303
Since we are talking about the summary row. Its currently rendered as the last row of the table, meaning you have to go to the last page to see it. For the table summary row only, would be nice if it could be rendered just above the footer (where page is displayed) so that it would be present always.

Not sure how this would work with paginated though. If I skip from page one to page 20 (last page

[2018-03-09 15:55] onechiporenko commented on #303
@cah-briangantzler, `groupingRowComponent` will be used if it's provided, so there is no need to use additional flag. Table summary is shown in the table footer and not as a last row in the last page (see demo [Inline edit and columns summary](https://ember-twiddle.com/99e1630b806bd4bd6edb5682429079a8?fileTreeShown=false&numColumns=0)). You can pass any additional data or action handlers in `group

[2018-03-09 16:02] cah-briangantzler commented on #303
Hmmm, I thought I had tried that somewhere and the row was shown as last...Sorry.

While I agree that as implemented theres no need for the additional flag. Was more asking for consistency should this component follow the same standard as other components and it be placed in the theme. (Placing it in the theme is what is requiring the additional property)

[2018-03-09 16:07] onechiporenko commented on #303
Themes contain some "internal" components. So, `expandedRowComponent` and `groupingRowComponent` are not placed there. And new `groupingRowComponent` is also not added to theme and is placed in the `models-table`

[2018-03-09 16:21] #303 closed

[2018-03-17 17:26] onechiporenko opened #304 "Allow to set colspan for table header cells"
* **I'm submitting a ...**

  - [x] feature request

* **[Feature] What is the motivation / use case for changing the behavior?**

Currently there is no way to set colspan for header cells.

* **Please tell us about your environment:**

- `ember-models-table` version:  2.4.0
- `ember` version:  3.0.0
- `ember-data` version: 3.0.0
- `ember-cli` version:  3.0.0
- `node` version: 9
- `npm` or `yarn`

[2018-03-17 17:28] onechiporenko commented on #304
Usage:

[code]

Header cells for second columns won't be rendered. Header cells for first column will have `colspan` equal to `2`.

[2018-03-17 17:58] #304 closed

[2018-03-21 15:55] Martodox opened #306 "Keep semantic versioning standards"
Hey,
This is not an issue per say, but a request for the maintainers.
Since this is an ember addon with 5,312 downloads in the last month, please, use semantic versioning as it is supposed to be used.

v.2.4.0 should have been released as v3.0.0 since it brought "[BREAKING]" changes, which actually broke some of our builds :D

👍 +1 for keeping the release log nice and clean.

If you need someone t

[2018-03-21 17:00] onechiporenko commented on #306
Hi, @Martodox. Thanks for your feedback. I agree that semantic versioning is important. However in this case I might use `[CLEANUP]` instead of `[BREAKING]`. I've removed items that are marked as "deprecated" for about 3 months.
Anyway, I got your suggestion and appreciate it.

[2018-03-22 09:53] Biggsz opened #307 "[Support] columns-dropdown hide & show"
I'm trying to make a custom theme for ember-models-table but I can't find how to bind an action to the colums-dropdown button to show & hide the columns-dropdown.

[2018-03-28 03:24] iballack opened #309 "What is the alternative way to get the model's data beside peekAll?"
* **I'm submitting a ...**
  - [ X] feature request

* **What is the current behavior?**
Currently, I have no problem at all to use peekAll in the route to get the data that I want.

[code]

However, if I want to use peekRecord or findRecord to get a set of data from a very specific ID,
I will not be able to propagate the table with data anymore.

* **[Feature] What is the motivation / use case fo

[2018-04-11 18:18] lincolnpahwa commented on #307
I would imagine it can be achieved by toggling `showColumnsDropdown` property using a flag from the component/controller invoking the models-table.

[2018-04-21 17:03] meliborn commented on #184
Does `customIcons` works in latest version? Can't find it in sources.

[2018-04-24 20:26] lincolnpahwa opened #311 "Column order update"
* **I'm submitting a ...**

  - [x] feature request

* **What is the current behavior?**
I couldn't find a way to change _column order_ in the table. i.e. the sequence in which columns are rendered on the page rather than column's data sorting.

* **[Feature] What is the motivation / use case for changing the behavior?**
I want to provide the end user the functionality to select/unselect and order

[2018-04-24 20:37] cah-briangantzler commented on #311
The column order is the order the columns are defined in the column array you pass into models-table. If your code would move the columns within this array, the component should re-render with the columns in the new order. (You may have to produce a new array containing the information copied instead of just moving the two indexes, as there would be nothing for ember to invalidate on to detect the

[2018-04-24 21:00] lincolnpahwa commented on #311
Yup, I solved it using the indices.

[code]

[2018-04-24 21:00] #311 closed

[2018-04-24 21:26] cah-briangantzler commented on #311
The reason you have to move processedColumns by index is because processedColumns is a copy of the original columns array with many more properties added and resolved. Assigning a new array the elements that did not contain this extra internal stuff would not work.

Glad you got your ordering to work, but it seems you are changing it late in the game. Altering the column array passed in I believe

[2018-04-24 22:13] sihuang opened #312 "Setting pageSize programmatically in PageSizeSelect fails due to type mismatch"
* **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**
When trying to set a table's pageSize programmatically using a value (say 25) obtained from another table's PageSizeSelect component, the ta

[2018-04-25 19:28] lincolnpahwa commented on #311
I actually extended it take over the column rendering logic and put it in a single place. I have 50+ different grids rendered via models-table with different column definitions and I would have had to go in and add logic in all of them, ( even adding a custom `columns-dropdown` component to the `themeInstance` would have required updating number hbs files). So in order keep the code changes to the

[2018-05-07 09:48] mayank8318 opened #313 "Problems faced while updating from v1 to v2"
* **I'm submitting a ...**

  - [ ] bug report
  - [ ] feature request
  - ~[x] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **[Support] What exactly you try to do?**
We have been using ember-models-table v1 in our project https://github.com/fossasia/open-event-frontend along with Semantic-UI. The

[2018-05-07 13:45] cah-briangantzler commented on #313
There are several ways to handle this, all have potential drawbacks. The first suggestion would be try to refactor the CSS to not require these DIVs as they are extra needless DIVs.

If you cant do that the second way would be to everywhere you are using models table in the templates replace it with the contextual components, then add you divs as indicated here http://onechiporenko.github.io/ember

[2018-05-08 13:01] cah-briangantzler commented on #313
I saw that it didnt work for you, but was not sure exactly why to help. It also appeared that you were having problems with the classes. In v2 the class strings were moved to themes, I did not see from the screen shot that you had converted that. I see that you were merging into a classes property, but do not know how you were using that.

Let me know if I can be of any more help

[2018-05-09 07:13] mayank8318 commented on #313
@cah-briangantzler Thank you for the help. I tried to use the in-built semantic ui theme by using this -
`import Semantic from 'ember-models-table/themes/semanticui';` and then ` themeInstance: Semantic,` but for some reason this isn't working. I also took reference from https://gist.github.com/onechiporenko/471b15cc58812b2a7da932f393677b37 . Please help me find out what I am doing wrong here.
Tha

[2018-05-09 12:40] SowmyaManohar opened #314 "RouteName property gives ember.warn assertion failed error"
[Request] Please elaborate how to use routeName property
Got this error while using routeName property:
Tried to use routeName from usermanagement page to profile/id page of my app.

Error: Assertion Failed: When calling `warn` you must provide an `options` hash as the third parameter.
 `options` should include an `id` property.↵    at new EmberError (http://localhost:4200/assets/vendor.js:28632:2

[2018-05-09 18:07] cah-briangantzler commented on #313
The theme instance you import is a definition not an object. You have to create it. You would do the same thing the actual component is doing. It looks like you are doing the import correctly, but define the themeInstance property the same as here https://github.com/onechiporenko/ember-models-table/blob/master/addon/components/models-table.js#L421-L423

[2018-05-10 09:49] mayank8318 commented on #313
@cah-briangantzler Thank you for your patience and help. The gist was really helpful. I think I have managed to successfully update to v2. I also found a kinda semi guide for the conversion -> http://kronus.me/2017/10/theming-ember-models-table-2-x/

[2018-05-12 03:56] SowmyaManohar commented on #314
Updating to ember 3.1.2 , the error disappeared , but i still get a warning  WARNING: This link-to is in an inactive loading state because at least one of its parameters presently has a null/undefined value, or the provided route name is invalid.
using routeName:"profile"
any help?

[2018-05-15 11:19] SowmyaManohar commented on #314
This is because the this addon expects id , and my code passed as _id . After changing to id , it worked.

[2018-05-15 11:19] #314 closed

[2018-05-18 00:34] fenichelar commented on #137
An example would really be great :)

[2018-05-18 02:46] fenichelar commented on #137
This is what I have:

[code]

I have 200px for the stuff above my table and the pagination bar. The problem with this is that it isn't a fixed header, just a fixed pagination bar and fixed content above the header. You can't set the `width` on a `tbody` unless the `display` is `block`. Is there a better way that I'm just not seeing?

[2018-06-08 17:32] cjrjscgallo commented on #307
I have not been able to get the dropdown to show any columns. This is from my template:

`  {{models-table-server-paginated
    data=model
    columns=columns
    showColumnsDropdown=true
    showGlobalFilter=false
    metaPagesCountProperty=metaPagesCountProperty
    metaItemsCountProperty=metaItemsCountProperty
  }}`

This is from my controller:

`  columns: [
    {
      "propertyName": "accoun

[2018-06-18 09:58] de-don opened #315 "Sort only by one column"
Hi, How can I sort a table with only one column? so that when you select a different one, the first sorting was removed

[2018-06-18 10:44] de-don commented on #315
Okey, I found it.
[code]

[2018-06-18 10:44] #315 closed

[2018-06-18 14:16] #313 closed

[2018-06-18 14:19] onechiporenko commented on #184
@meliborn `customIcons` are for v1. Themes are used for v2. Check http://kronus.me/2017/10/theming-ember-models-table-2-x/

[2018-06-22 02:53] ultimatelocal opened #316 "Pass ember object on propertyName"
Hi Guys

I just want to ask on how to pass  DSPromiseObject on a property name, and access it's element on a component?

When I passed the object to the `propertyName`: `DSPromiseObject` it is displayed on columncells like this : `<DS.PromiseObject:ember2314>` Thank you

 - `ember-models-table` version:  1.9.0

[2018-06-22 13:57] cah-briangantzler commented on #316
Could you provide a little more detail on what you are attempting to do. I could see needed a computed property on property name, but I don’t understand why property name would ever be a promise

From: Jake Hersalia <notifications@github.com>
Reply-To: onechiporenko/ember-models-table <reply@reply.github.com>
Date: Thursday, June 21, 2018 at 10:54 PM
To: onechiporenko/ember-models-table <ember-mod

[2018-06-25 02:04] ultimatelocal commented on #316
HI,

Maybe because I'm passing a related model on the `propertyName` with `async:true` but I want to know if is it possible to pass an `ember object` thru `propertyName` then access it's elements normally on component? Thank you!

[2018-06-25 14:42] cah-briangantzler commented on #316
Im going to take a guess at what you mean.

I think you are saying that one of the properties of your main object is also an object and can you access properties on this second object. Yes you can.

Given
[code]

you can build a column list as
[code]

This example is for simplicity, but yes, address could be a promiseObject.

Is this the answer to your question?

[2018-06-26 02:40] ultimatelocal commented on #316
Hi,

Is it possible to do it like this :
[code]

and access `city` on the component where I assigned it? Because I'm gonna need to edit the whole object and save it on my api.

[2018-06-26 12:06] cah-briangantzler commented on #316
What do you mean by on the component I assigned it. Do you have
[code]
If so, the component will receive a property called record, that property is the entire parent object, not just the address.

See http://onechiporenko.github.io/ember-models-table/v.2/docs/classes/Components.ModelsTableCell.html for a list of all the properties and events that will be passed to your component. You see you will

[2018-06-27 02:28] ultimatelocal commented on #316
Hi sorry for the confusion but here's the exact scenario that I wan to implement.

[code]

[code]

[2018-06-27 12:51] cah-briangantzler commented on #316
change your component hbs to
[code]

Note: The property name of the current column, in this case "address", is passed in column.propertyName if you wanted to make your component more generic. When the cells normally display the string value of columns, if uses a component also, cell-content-display, here is the template for that component https://github.com/onechiporenko/ember-models-table/blob/ma

[2018-07-04 18:44] sihuang commented on #312
@onechiporenko thanks for fixing this. Any idea when the next release will be available?

[2018-07-04 20:34] onechiporenko commented on #312
@sihuang v2.6.1 is published

[2018-07-12 03:33] sfbwalder opened #317 "Build fails for lazily loaded engine"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**
When using ember-table-models in a lazily loaded engine, the build fails with:
[code]

* **If the current behavior is a bug, please provide t

[2018-07-12 10:52] #312 closed

[2018-07-12 10:53] onechiporenko commented on #317
@sfbwalder check pls master. If it works for you, I'll publish new version.

[2018-07-12 13:05] cah-briangantzler commented on #317
Any idea on the backward compatibility of this? I am assuming this is based on ember-cli, what version of ember-cli will this fail on? (ie it use to pass app, meaning at some point "this" was not a valid value)

There was also the issue the the if code checking the app.app, this I believe was for when this addon is included in another addon. Will the updated code still work for that situation?

It

[2018-07-12 14:17] shivani2692 opened #318 "Help getting models-table-server-paginated working"
I am trying to get models-table-server-paginated working in my product.

Defined a component - custom-table.js
[code]
My template file - log-details.hbs looks like :
[code]
My controller - log-details.js file looks like:
[code]

My routes file - log-details.js looks like:
[code]

 My model - log.js looks like:
[code]

My query command does not return any meta.
For now, I am hard-coding that we hav

[2018-07-12 15:20] sfbwalder commented on #317
@cah-briangantzler The backwards compatibility does need checked out.  The story for using `this`, `app` and `app.pp` is not clear to me, but I am mostly a newbie.  Perhaps someone who knows more can provide guidance.

[2018-07-12 15:24] cah-briangantzler commented on #317
@sfbwalder its been changing over time and getting better, but its pretty muddy for me as well which is why I raised the issue but didn't offer a solution.

Someone may have to ask in the ember slack channels and get a better insight

[2018-07-12 17:46] onechiporenko commented on #318
Hi, @shivani2692. You can't use `models-table-server-paginated` without meta-info about overall records count and current page.

[2018-07-12 18:04] onechiporenko commented on #317
@cah-briangantzler you are right. Backward compatibility is important. Personally I'm not so familiar with ember-cli. I see very dummy solution like this:

[code]

[2018-07-23 04:19] sihuang commented on #139
@sh9189 @onechiporenko has this PR been merged yet?

[2018-07-23 09:22] tri003 opened #319 "Parameters Option For Page"
Is their any option in model table to load to page 2 or other page on load page ?

[2018-07-24 02:41] sihuang opened #320 "No option to show/hide data-group-by-select"
There's the showGlobalFilter flag for global-filter component. I can't seem to find a flag for hiding data-group-by-select component. In my case, I'm grouping by only one field, hence don't need the "Group By" selection.

Is this possibly a missing feature?

[2018-07-24 03:49] shivani2692 commented on #318
Hi @onechiporenko, I fixed the meta-info and the table is now rendering. But when I click on page 2, it does not take all the query parameters. It just takes one of the query parameter and adds page and pageSize as well.

How can I make sure it takes all the query params that the route takes?

[2018-07-24 04:52] shivani2692 commented on #318
Since the query params were matching column names, the query params were being removed if no filter string is provided.

Setting 'useFilteringByColumns' to false, helped resolve the issue and get all query params.

Is there any way we can have all query params and get results based on that in the table. Then apply filtering only on the data retrieved (without changing names)?

[2018-07-24 08:09] onechiporenko commented on #320
@sihuang you can create an empty template `templates/components/models-table/data-group-by-select.hbs`.

[2018-07-24 10:24] shivani2692 opened #321 "models-table-server-paginated - How to display a loader when page is loading from server"
I am using models-table-server-paginated as follows:

Defined a component - custom-table.js
[code]

custom-table.hbs
[code]

My template file - log-details.hbs looks like :
[code]

* **My environment:**

- `ember-models-table` version: 2.3.1
- `ember-data` version: 2.18.0
- `ember-cli` version:  2.18.2
- `node` version: 6.9.1

With these changes, the table does not load at all. If I remove custom-

[2018-07-24 10:33] shivani2692 commented on #318
I referred [#219](https://github.com/onechiporenko/ember-models-table/issues/219),

If `useFilteringByColumns` is set to true, and query params and column names are the same

[2018-07-24 10:35] shivani2692 commented on #318
With useFilteringByColumns set to true, can we make sure it uses all other query params and just update the value for the query param where we provide a filter string?

[2018-07-24 12:47] cah-briangantzler commented on #321
Templates do not extend. Since you extended the models-table, you have to either have NO template as you found out, or duplicate the entire template from models table which would make upgrading problematic.

For what you are trying to do the best best is to put the loading if in the template that the log details template and put the models table in the else. (If you are using the loading if a lot,

[2018-07-24 18:38] sihuang commented on #320
Thanks @onechiporenko that works 👍

[2018-07-24 18:55] sihuang opened #322 "Add a column title when displayGroupedValueAs is set to 'column'"
In the "Grouped Rows" demo, when displayGroupedValueAs='column', the title of this grouped column (Bahamas, Bahrain, Belarus, etc.) is blank. I thought it would be nice to show "Country" as title above Bahamas, Bahrain, etc. How do I go about doing that? Which component should I extend? Thanks a lot.

[2018-07-24 19:00] #320 closed

[2018-07-25 04:19] shivani2692 commented on #321
Adding an if in the template log-details.hbs as shown below did not work.

[code]

Am I missing something here?

[2018-07-25 12:54] cah-briangantzler commented on #321
You are still using the extended custom-table. Have you removed the custom-table.hbs? I dont understand what the custom table is actually adding, you might be able to just use model-server-paginated-table directly.

I also assume that isLoading is changing appropriately.

Given that the custom-table.hbs does not exist, that should work. Could you be more specific on what doesnt work, and maybe rep

[2018-07-25 18:49] shivani2692 commented on #321
Sorry for the typo. Yes, I understand that custom-table is not adding any value and did try using model-server-paginated-table directly.

Here is the contents on my log-details.hbs
[code]

Even with this changes, the loader does not appear. The table and its contents in each page is rendered correctly.

[2018-07-25 18:56] cah-briangantzler commented on #321
Ok, so if the loader is NOT appearing,  would have to assume isLoading is false.  Is {{table-loading}} just a string or a component? if component is there possibly a problem there?

You can insert {{log }} into the template to see things. I would update it to this
[code]

check the console as to what is being printed and what is not. That may help you determine where the problem is. Based on the t

[2018-07-26 05:37] shivani2692 commented on #321
table-loading is a component, that has just a spinner image and "loading.." text.

I used the code snippet provided by you and the values printed on console are as follows:
1. When the route log-details.hbs is loaded
[code]

2. Once the route is loaded and table is visible, clicking on page number 2 does not log anything on the console.

I just copied the entire template from https://github.com/on

[2018-07-26 12:25] onechiporenko opened #323 "Add ability to check when column titles are auto generated"
* **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**

Currently there is no way to check if column title is auto generated from property name (only manually)

* **[Feature] What is the motivati

[2018-07-26 12:35] onechiporenko commented on #322
Now 'titlelized' property name is shown in this case. `groupHeaderCellComponent` component can be used to replace it:

[code]

Component will receive such options:

* `currentGroupingPropertyName` - property name used to group rows in the current moment

[2018-07-26 12:36] onechiporenko commented on #322
This feature will be in the next release (2.7.0)

[2018-07-26 12:36] #322 closed

[2018-07-26 12:37] #323 closed

[2018-07-26 12:38] #306 closed

[2018-07-26 12:39] #297 closed

[2018-07-26 12:39] #273 closed

[2018-07-26 12:40] #296 closed

[2018-07-26 12:41] #214 closed

[2018-07-26 13:53] cah-briangantzler commented on #321
So as you can see, the variable isLoading is undefined. That will equate to false. Thats why the isLoading spinner is never displayed. You will have to check your into that more as to where that variable is being defined and why it does not have a value, and that value is not being updated.

[2018-07-27 16:42] cah-briangantzler commented on #323
If its not too late. I would think a better name for the property would be requireColumnTitleProperty. The intent of what they are using it for is bleeding into the definition. If I were to see this in your docs I would assume that the component handles translations for me some how.

Also this variable is performing a check that if it fails, would be fixed, meaning this is more of a testing featur

[2018-07-29 09:44] onechiporenko commented on #323
@cah-briangantzler adding component is too complex solution as for me. However creating a mechanism similar to `i18n` 'missing-translation' is a good idea.
When `checkTextTranslations` is `true` column title may be shown as `missing translation`. How about this/

[2018-07-30 12:30] cah-briangantzler commented on #323
@onechiporenko I do like that better. It better suites the property name and I didn't care for the new visual div to report titles missing.

I can be on board with that.

[2018-08-06 13:39] zardaloop commented on #297
I know this ticket is closed but I would appreciate if you could please advise me on this.

I am trying to follow this approach but I can't override anything.

I have already created a new component called form-table by extending models-table like below:

[code]

So can I still override the row component the same way as recommended here or I need a different approach?

Many thanks.

[2018-08-06 14:56] zardaloop commented on #259
Hi @onechiporenko ,

After creating a new component. How do we then assign the new component?
I am using version 1 and I want to override row.js, I have doen something like this :

`
import Row from 'ember-models-table/components/models-table/row'
import { get, set, computed } from '@ember/object';

export default Row.extend({
  classNameBindings: ['rowSelectedClass', 'rowExpandedClass','inspectio

[2018-08-06 14:58] onechiporenko commented on #259
@zardaloop v1 doesn't use components, only v2 does. Please use v2.

[2018-08-24 13:58] jpoiri opened #325 "toggleAllSelection() giving a javascript error"
* **I'm submitting a ...**

  - [1 ] bug report

HI there,

I am trying to reproduce your example with multiple rows selected(http://onechiporenko.github.io/ember-models-table/v.2/#/examples/select-rows-with-checkboxes) but I am  getting this error when calling the toggleAllSelection() action:

EmberError {stack: "Error: Assertion Failed: The third argument to rep…(http://localhost:4300/assets/ven

[2018-08-24 16:51] onechiporenko commented on #325
Hello, @jpoiri. I can't help here without reproduction demo. Could you create it on https://ember-twiddle.com ? Thanks

[2018-08-31 11:52] onechiporenko opened #326 "Can't sort by nested keys"
* **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**

Js-error appears when sorting is done by `something.nested`

* **[Bug] What is the expected behavior?**

Sorting should be done correctly

[2018-08-31 12:02] onechiporenko opened #327 "Extract `sortMap` as component's property"
* **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**

`sortMap` currently is declared in the `sort` action in both `models-table` and `models-table-server-paginated`. It should be extracted to

[2018-08-31 12:46] #327 closed

[2018-08-31 12:59] onechiporenko opened #328 "Allow to do sorting by multiple columns in the `models-table-server-paginated`"
* **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**

Currently sorting can be done only by single column

* **[Feature] What is the motivation / use case for changing the behavior?**

A lot of

[2018-08-31 13:00] cah-briangantzler commented on #327
Why would you ever want to override this map?

[2018-08-31 13:05] onechiporenko commented on #327
I have a question in slack about changing order of sorting. Before this commit you can't change order to `none-desc-asc` without overriding the whole sort-method.

[2018-08-31 13:11] cah-briangantzler commented on #326
Interesting, the one time you DONT want to use set.

Leads to a curiosity. I assume that ES6 getters allow for var.var[var].var otherwise this would prove difficult in the future

[2018-09-01 11:56] #317 closed

[2018-09-01 11:57] onechiporenko commented on #159
Fixed in https://github.com/onechiporenko/ember-models-table/issues/328

[2018-09-01 11:57] #159 closed

[2018-09-01 11:59] #309 closed

[2018-09-01 12:00] #316 closed

[2018-09-01 12:01] #294 closed

[2018-09-01 12:01] #201 closed

[2018-09-01 14:26] greenkeeper[bot] opened #330 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-01 14:29] #330 closed

[2018-09-11 13:49] akursat opened #331 "editable dropdown"
* **I'm submitting a ...**

  - [ ] bug report
  - [x ] feature request
  - ~[ ] support request~ Any support-request can be only in the Slack channel [#e-models-table](https://embercommunity.slack.com/messages/C8NTDUVGU/).

* **What is the current behavior?**
The inline edit only works with inputs.

* **[Feature] What is the motivation / use case for changing the behavior?**
Can you develop edita

[2018-09-11 14:20] cah-briangantzler commented on #331
The inline edit contains all the hooks to allow you to create your own component. That was you can use the html select, power-select or the dropdown or your choice.

I can help you with this if you wish.

@onechiporenko should we create a component that uses the HTML select to be used as a default, but also would serve as an example should someone wish to adapt their own?

[2018-09-11 21:57] onechiporenko commented on #331
@cah-briangantzler I have a demo with `power-select` used in the inline-edit:
https://ember-twiddle.com/99e1630b806bd4bd6edb5682429079a8?fileTreeShown=false

[2018-09-12 07:30] akursat commented on #331
@onechiporenko thank you for your interest. I have easily adapted dropdown of semantic ui. I couldn't see similar example on the http://onechiporenko.github.io/ember-models-table/v.2/#/examples/in-line-edit. Can you add this example to the documentation?

@cah-briangantzler it'll be nice if you add columnType like input, select maybe radio button on columns section.  I didn't check your source but

[2018-09-12 12:57] cah-briangantzler commented on #331
I dont think we provided a default for some of these things because it would have have to be a really raw default. Did not want to make the choice for you on what drop-down or radio button component to use. There are great ones out there. And more than likely the defaults shouldn't be used. Someone could easily create a new addon that provides a set of inputs to use.

The input default that was pr

[2018-09-14 17:57] Travelinglight opened #332 "column sortDirection is reversed"
* **I'm submitting a ...**
  - [ ] bug report

* **What is the current behavior?**
The columns sort order is reversed during column setup

* **The minimal demo of the problem**
[Ember Fiddle](https://ember-twiddle.com/213573a63a455e003a1672e4c3db418a?openFiles=components.my-table.js%2Ctemplates.components.my-table.hbs)
Please see `components/my-table.js`, where the `sortDirection` of `sort_order`

[2018-09-15 20:04] onechiporenko commented on #332
Hi, @Travelinglight! Thanks for submitting a bug report!

[2018-09-17 15:12] ArthurShvetsov opened #333 "Table with server pagination and filtering - custom column filter"
Hello everyone, sorry for asking for support here, but I could not find channel in discord

I'm currently trying to use `models-table-server-paginated` and want to have datepicker as a custom column filter. I've successfully referenced datepicker component as column filter by setting `componentForFilterCell`. Once user selected date, I execute next logic to set filter string:

Template:
[code]

Co

[2018-09-18 08:14] onechiporenko commented on #332
@sly7-7 could you check this please?

[2018-09-18 11:33] #332 closed

[2018-09-25 16:22] HerveSeger opened #336 "Deprecation issue when building with ember 3.4.x"
* **I'm submitting a ...**

  - [x] bug report

* **What is the current behavior?**
[code]

There are a few others like these.
This happens when I run `ember build` in an addon where we store our reusable components.

See https://deprecations-app-prod.herokuapp.com/deprecations/v3.x/#toc_ember-component-send-action for more details.

* **If the current behavior is a bug, please provide the steps t

[2018-11-07 08:07] beastmst opened #337 "column format"
is that a way to apply a helper to a column? eg.. apply date format or currency display to a column....
or maybe apply a regular expression format to a column?

[2018-11-07 09:40] onechiporenko commented on #337
@beastmst you can create a computed property for your data-item or use a component in the cell.

[2018-11-09 04:46] #337 closed

[2018-11-09 08:45] flyrev opened #338 "Change size of page selector"
* **I'm submitting a ...**

  - [ ] bug report
  - [X] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
With 4 pages, the page selector collapses into 1,2,...,4.

* **[Feature] What is the motivation / use case for changing the behavior?**
It would be good to say "collapse after N pages".

* **Ple

[2018-11-13 15:22] onechiporenko commented on #338
Property `collapseNumPaginationForPagesCount` is added to the `models-table`. Its default value is `1`. Feel free to set it `4` or any other needed value:

[code]

[2018-11-13 16:28] chanderhan opened #339 "Table Settings From Query Params does not respect debounceDataLoadTime"
* **I'm submitting a ...**

  - [X] bug report

* **What is the current behavior?**
The gist linked to in the readme here [Table settings from query params](https://ember-twiddle.com/918153a68f768b7a17c97ddd849dcd61?fileTreeShown=false&numColumns=0&route=%2Ftable%3Ffilters%3D2%253Astars%253A%253E0%26hidden%3D4%26page%3D3%26per_page%3D25%26search%3Dember%26sort%3Dstars%26sorted%3D2) does not wait f

[2018-11-20 14:24] flyrev commented on #338
Great stuff, thanks!

When will you bump the version number again?

[2018-11-21 12:41] onechiporenko commented on #338
Done. 2.8.0 is published

[2018-11-21 12:41] #338 closed

[2018-11-23 15:44] flyrev commented on #338
Sorry to comment again on this: but having 7 pages and the setting set to 4 will give the initial menu of 1,2,...,7.

Any way to make the initial list at least 5 also? Ideally 1,2,3,...,7,8 or 1,2,...,7,8 would both be good. Or simply have a setting for "on each side" initially (for example setting it to 2 would give 1,2,...,7,8).

[2018-11-27 06:50] beastmst commented on #325
hi.. i am facing the same problem.. i think it is when use result from ember data..

"Error: Assertion Failed: The third argument to replace needs to be an array.
    at Array.replace (http://localhost:4200/assets/vendor.js:53164:113)
    at Array.pushObjects (http://localhost:4200/assets/vendor.js:53008:12)
    at Class.toggleAllSelection (http://localhost:4200/assets/vendor.js:420526:44)

  repl

[2018-11-27 07:05] beastmst commented on #325
Hi... quite confirm it is because the ember-data ... when use a pure array, the function work.
but when use record return by ember data, the error occured .. so I use this:

this.set('company', returnModel.toArray());  then everything work fine

[2018-11-28 17:34] onechiporenko commented on #338
Well, it's another issue :)
You can implement it in your project by overriding `components/models-table/numeric-pagination`.

[2018-11-28 17:35] onechiporenko commented on #325
@beastmst could you please provide a demo with `ember-data`? I can't get repro using local env

[2018-11-30 07:20] beastmst commented on #325
https://github.com/beastmst/ember-model-table

here you go

[2018-11-30 14:18] onechiporenko commented on #325
@beastmst you are right. It's a bug that I missed in demo-app, because of `.slice`-usage in the route `example`. So, every example works with Array and not with `ember-data`-specific classes. I'm going to fix this.

[2018-11-30 17:08] #325 closed

[2019-01-08 19:54] hbrysiewicz opened #342 "`filterWithSelect: true` creates unexpected exception on route away and modifying table data"
**I'm submitting a bug report**

**What is the current behavior?**

Upgrading `ember-models-table` to 2.8.0 from 2.3.0.
App is on Ember 3.6, Ember Data 3.6.

Application creates a models-table with one of the columns defined to use `filterWithSelect: true` and *without* `predefinedFilterOptions` set. The models-table renders and behaves as expected. User routes to a different page, a form for one

[2019-01-08 23:04] onechiporenko commented on #342
Hi, @hbrysiewicz. Thanks for such detailed report! Going to work on fix

[2019-01-09 13:33] onechiporenko commented on #342
Fix is already in master.

[2019-01-09 13:33] #342 closed

[2019-01-09 17:57] hbrysiewicz commented on #342
Awesome! Thanks so much for the fast fix, @onechiporenko! Will there be a patch release tagged for this?

[2019-01-09 23:13] onechiporenko commented on #342
I think it's possible to create a `2.9.0-beta.1` for this. Some extra features are already in master and ready to be published. New release will be in a day or two

[2019-01-11 11:49] BenjaminBeck opened #343 "[FEATURE REQUEST] Sort by async/promise properties"
* **I'm submitting a ...**
  -  feature request

* **What is the motivation / use case for changing the behavior?**
All our ember-data relations are async. So many of our computed properties also are ``async`` functions.
Displaying them in a ember-models-table works with custom components.
But sorting and filtering does not work.

* **What is the current behavior?**
Sorting and filtering does not

[2019-01-11 13:22] onechiporenko commented on #343
Hi, @BenjaminBeck. It's a good feature to have. I'll think about its implementation.

[2019-01-11 14:14] onechiporenko commented on #343
@BenjaminBeck, could you please provide a demo on ember-twiddle that doesn't work now? It'll help a lot to understand what is your vision of needed feature. Thanks

[2019-01-12 13:45] BenjaminBeck commented on #343
@onechiporenko this twiddle shows a example https://ember-twiddle.com/4a907b966d0c071ba214ab0fe1e679f6
@cah-briangantzler yes, you are right, the cache-invalidation most likely does not work (didn´t test it). But the example shows the principle that promise objects can not be sorted no matter where they come from.

[2019-01-12 14:09] BenjaminBeck commented on #343
I did some debugging to see if i could make this work with a custom sort function. But I think this is not possible at the moment because the complete call-stack of the sort function must be promise-aware.

[2019-01-13 21:01] cah-briangantzler commented on #343
I believe the fundamental problem is here
[code]
You cant have an async computed property. You simply cant have an async function for a computed property, the caching doesnt allow it.  It isnt so much the sort has to be async aware as you have to treat all computed properties as async aware.  If you wanted to sum the photos you would have to write the following
[code]
You had to KNOW to treat the

[2019-01-14 15:39] BenjaminBeck commented on #343
@cah-briangantzler Thanks for your input. Unfortunately I have very little time until the end of the month. Maybe it will take until then for me to have a closer look at all your points.

[2019-01-15 04:50] cah-briangantzler commented on #343
I forked your twiddle, changed the column definition in application controller for photos (1) from numberOfPhotos to photos.length, and you will see what I am talking about. The first column is now sortable and filterable

https://ember-twiddle.com/07d801e389a5fc3b795cbb8068b457a1

[2019-01-24 12:27] CezaryH opened #344 "Missing component usage in v2 demo"
Please add component usage examples to v2 demo.
That would be very helpful.

Thanks

[2019-01-26 11:15] #333 closed

[2019-01-26 11:15] #321 closed

[2019-01-26 11:16] #319 closed

[2019-01-26 11:16] #331 closed

[2019-02-01 19:10] onechiporenko commented on #344
README.md has links for several demos in the ember-twiddle. All of them are for v2. Did you check them?

[2019-02-04 07:35] MLeganes commented on #344
@onechiporenko
I forgot about this demos. You are right. Thank you so much for your fast replay.

[2019-02-04 08:48] MLeganes commented on #344
@onechiporenko
It is good ember-twiddle. In the demo, a brief of the configuration details it was useful and more accurate, I think It was a good extra documentation to have there it.
Thank you for big work and effort.

[2019-02-06 14:03] onechiporenko opened #345 "Add dropdown for current-page selection"
* **I'm submitting a ...**

  - [x] feature request

* **What is the current behavior?**

Navigation is available only with buttons `F/P/N/L` (`simple pagination`) or using buttons with some page numbers (`numeric pagination`).

* **[Feature] What is the motivation / use case for changing the behavior?**

Select with page numbers will allow users to jump to any needed page.

* **Please tell us abo

[2019-02-09 12:25] #345 closed

[2019-03-04 09:35] CezaryH commented on #344
@onechiporenko ok, I haven't check that, my bad.
Maybe it's good idea to add those links to examples page.

Thanks for answering.

[2019-03-04 13:01] #344 closed

[2019-03-12 22:12] jlblcc commented on #342
@hbrysiewicz :1st_place_medal: Thanks for tracking this down!

[2019-03-13 19:48] BenDoan opened #348 "Remove jquery usages"
I'm looking to add ember-models-table to an app I'm working on, but I'm looking to avoid bundling jquery. It looks like ember-models-table uses jquery just a couple times. Would you be open to a PR that removed these uses?

[2019-03-14 18:37] onechiporenko commented on #348
Hi, @BenDoan. I thought that jQuery is used only in dev-mode. I did some code changes to remove jQuery usage (#324). PR would be great if I've missed something.

[2019-03-14 19:26] BenDoan commented on #348
Heh, you're right, I guess it's been a while since I re-pulled my ember-models-table checkout.

Thanks for the awesome work!

[2019-03-14 19:26] #348 closed

[2019-03-21 11:22] gilles-bertrand opened #349 "Closure actions in custom components"
* **I'm submitting a support Request **
* **What is the current behavior?**
We are trying to use closure actions without sendActions inside a custom component. But nothing happens.

* **[Support] What exactly you try to do?**
We have a custom component
[code]
Then a route with our ember models table
[code]

* **Please tell us about your environment:**

- `ember-models-table` version: 2.9
- `ember`

[2019-03-25 09:20] onechiporenko commented on #349
Hi, @gilles-bertrand. I didn't get which action you are trying to send. Could you create a demo on ember-twiddle? Thanks

[2019-03-25 12:54] gilles-bertrand commented on #349
Hi @onechiporenko, here is a twiddle [twiddle](https://ember-twiddle.com/b211a6a3126d0b8378148d12fcdd442c?openFiles=controllers.application.js%2Ctemplates.components.edit-checkbox.hbs).
So when you click on the checkbox we where hoping to execute an alert like the button. But the action doesn't come to our action, we want to avoid sendAction since it's deprecated.
Thanks for your time.

[2019-03-25 14:59] cah-briangantzler commented on #349
Hmmm, I thought this was better documented.

When you use `component: "component-name"` the component is invoked within the system and it is not possible trap any actions sent from that component.

The piece you are missing is defining the component hash on the table itself.  The component name in the column definition can be any name you want, it is matched to this component hash. If the name is

[2019-03-28 14:52] remadex commented on #349
Thanks ! It works ! ;)

[2019-04-11 18:42] nag9329 commented on #318
Hey @shivani2692 may I know how did you render the server side paginated table? I tried to give the meta info as below, but still when I use the server-table in my hbs, I don't see a table rendering.

`import modelsTableServerComponent from 'ember-models-table/components/models-table-server-paginated';

export default modelsTableServerComponent.extend({
  metaPagesCountProperty: 20,
  metaItemsCou

[2019-04-30 13:50] onechiporenko opened #350 "3.0 is real"
* [x] Remove `sendAction` #351
* [x] ~Support 2.18+ only #352~ Support 3.4+ for `3.0`
* [x] New Class syntax #354
* [x] Angle-brackets etc #355
* [x] Don't publish unneeded files #356
* [x] New demo #363

[2019-04-30 13:51] onechiporenko opened #351 "Remove `sendAction`"

[2019-04-30 14:15] onechiporenko opened #352 "Support 2.18+ only"

[2019-04-30 14:28] onechiporenko opened #354 "Use new Class syntax"

[2019-04-30 14:29] onechiporenko opened #355 "Use Angle-brackets"

[2019-04-30 14:30] onechiporenko opened #356 "Don't publish unneeded"
Update `.npmignore`

[2019-04-30 14:59] #352 closed

[2019-04-30 15:50] #351 closed

[2019-05-03 15:18] onechiporenko commented on #350
Since new Class syntax is supported only for 3.4+, min supported version for `ember-models-table` is going to be `3.4`.

I was too quick to say that `2.10` is going to be the last `minor` release for `2.*`. Maybe it's a good idea to support `2.*` for some time (at least check compatibility with latest Ember-versions) and backport some bugfixes and SOME features (however I do not believe in the las

[2019-05-03 17:50] cah-briangantzler commented on #350
I am struggling with this for some of the addons I am also creating. There
are way to many applications still not on 3.0 that I have not moved any of
my addons to the new class syntax yet.

It just might have to be awhile til addons start using class syntax.

Its stressed at the Ember conferences that there is a reasonable upgrade
path and being 3.9 is the latest, to say you dont support previous

[2019-05-04 10:17] onechiporenko commented on #350
@cah-briangantzler that's why `2.*` version of `ember-models-table` will be maintained. It supports Ember from `2.8` to the latest (`3.9` for this moment).
You don't need to imidiately upgrade your EMT to `3.0`. Bugfixes for issues in `3.0` are going to be backported to the `2.*`. Bugs found in`2.*` also going to be fixed.
New features now appears pretty rarely. Last one was added a few months ago

[2019-05-05 18:41] #354 closed

[2019-05-16 13:53] kushthedude opened #361 "I want to disable internal scroll and change column widths of my table"
* **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**

Currently, i am not able to disable internal scroll and change the column widths, Which is depreciating UI for my App

* **[Bug] What is the expected behavior?**

Please provide the way to do s

[2019-05-17 13:21] onechiporenko commented on #361
Hi, @kushthedude. You are able to set custom css-classes for each table cell and add a custom styles for them (`width` etc). Also you can set `overflow` for block-elements.
Custom styling is not a thing that `ember-models-table` provides itself.

[2019-05-21 07:34] MLeganes commented on #217
Thank you for the clue. I am working in this topic and I can not get the idea how to extend the component. Where can i find more information about how to do it?
I am new with ember.
Thank you in advance!!

[2019-05-27 14:43] #355 closed

[2019-05-28 09:52] #356 closed

[2019-07-05 12:43] onechiporenko opened #363 "New demo for v.3"
Demos for BS3, BS4 and SemanticUI.

[2019-08-06 16:48] #363 closed

[2019-08-12 13:08] onechiporenko opened #365 "Add theme for ember-paper"
* **I'm submitting a ...**
  - [x] feature request

* **What is the current behavior?**

No theme for ember-paper

* **[Feature] What is the motivation / use case for changing the behavior?**

Theme for ember-paper is going to be useful for people using ember-paper.

[2019-08-13 10:11] onechiporenko opened #366 "Update ember-cli to 3.11 for v.2"
* **I'm submitting a ...**
  - [x] feature request
* **What is the current behavior?**

`ember-cli@3.9` is used currently

* **[Feature] What is the motivation / use case for changing the behavior?**

`ember-cli@3.11` is a latest version.

[2019-08-13 14:24] #366 closed

[2019-08-13 14:26] onechiporenko opened #368 "Remove deprecation warnings about component methods"
* **I'm submitting a ...**
  - [x] bug report

Fix [Deprecate mouseEnter/Leave/Move component methods](https://deprecations.emberjs.com/v3.x/#toc_component-mouseenter-leave-move)

[2019-08-14 19:56] MelSumner opened #369 "input fields missing label element"
* **I'm submitting a ...**
  - [x] bug report

* **What is the current behavior?**
The input fields used for filtering data doesn't have an associated label.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Here's a screenshot:
![image](https://user-images.githubusercontent.com/4587451/63051502-f8396080-bea2-11e9-9849-7fa4

[2019-08-14 20:52] cah-briangantzler commented on #369
I dont know if the label can be in different cells, but shouldnt the cell above the filter input be the the content wrapped in the label?

[2019-08-14 21:05] MelSumner commented on #369
@cah-briangantzler

1. you could definitely check to see if you can associate the two by using the `aria-describedby` attribute on the `<input>` field where the value is the `id` of the column header text.

2. however, for increased usability you'd want it to be more descriptive, which is why I'd suggest the label element that is only visible to other machines (like screen readers). One idea could

[2019-08-15 10:49] onechiporenko commented on #369
Hi, @MelSumner. Thanks for your submission. I guess it's for both `v.2` and `v.3`?
If you find any other issues with accessibility of `ember-models-table` fill free to open other issues. I'm open to provide any needed things for accessibility, however I'm not familiar with it. You comments about possible solutions are very helpful to me.

[2019-08-21 12:46] #368 closed

[2019-09-01 01:24] wonderful123 commented on #349
Is there some more information about using the component hash. I'm not sure I understand how it works. The example doesn't really follow the ember guide of actions. At least I can't understand it.

[2019-09-02 12:39] onechiporenko commented on #369
Done. Going to be in the next release.

[2019-09-02 12:39] #369 closed

[2019-09-02 12:40] #343 closed

[2019-09-02 12:40] #160 closed

[2019-09-02 12:40] #226 closed

[2019-09-02 12:40] #235 closed

[2019-09-02 12:41] #300 closed

[2019-09-02 12:41] #318 closed

[2019-09-02 12:41] #361 closed

[2019-09-02 14:02] onechiporenko commented on #369
`v2.11.0` and `3.0.0-beta.2` are published

[2019-09-05 09:13] #350 closed

[2019-09-12 11:57] onechiporenko opened #374 "Disable page-number select if there are no options for it"
* **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**

Select box is enabled even if there are no options for it

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

Use globa

[2019-09-13 12:09] #374 closed

[2019-09-18 21:05] harleyjj commented on #72
Hi Folks, I just wanted to post a solution for people using older versions of Ember and ember-bootstrap (my case).  This custom template worked for me:

`<div class="{{classes.columnsDropdownWrapper}}">
  <div class="{{classes.columnsDropdownButtonWrapper}}">
    {{#bs-dropdown as |dd|}}
      {{#dd.button}}
        {{messages.columns-title}}<span class="caret"></span>
      {{/dd.button}}
      {

[2019-11-14 14:41] onechiporenko opened #380 "Styling issues with column filters"
* **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**

BS3/BS4 filters on the columns are not rounded in the left side. BS3 clear-filter buttons for columns filters are different for input and comboboxes.

* **If the current behavior is a bug, plea

[2019-11-19 12:54] #380 closed

[2019-12-04 04:41] jimmyNg opened #389 "isExpanded is undefined in block content"
* **I'm submitting a ...**

  - [x] bug report

* **What is the current behavior?**
I am trying to access `isExpanded` in block content. But the value is always `undefined`

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
This is the code:
[code]

* **[Bug] What is the expected behavior?**
If I am doing this wrong then wha

[2019-12-04 11:21] onechiporenko commented on #389
Could you try to remove `isExpanded` from `|record index isExpanded|`? Also remove ` @isExpanded={{isExpanded}}` from the next line.
Value for `isExpanded` is calculated inside `row` components ans it's not "yielded". Check `(exists-in body.expandedItems record)` is correct and should help you

[2019-12-04 17:01] jimmyNg commented on #389
Thanks @onechiporenko the `exists-in` will do the job.

[2019-12-04 17:01] #389 closed

[2019-12-12 15:42] onechiporenko opened #392 "Add Components for Expand/Collapse Row(s), Select/Deselect Row(s) and update inline-edit for all themes"
* **I'm submitting a ...**
  - [x] feature request
* **What is the current behavior?**

There are no default implementation for select-row/select-all-rows/expand-row/expand-all-rows components.

* **[Feature] What is the motivation / use case for changing the behavior?**

Default implementation allows users to save time and provide a base for their own components.

* **Please tell us about your en

[2019-12-16 13:46] #392 closed

[2020-01-31 18:12] kafkahw opened #402 "README improvement"
* **I'm submitting a ...**

  - [* ] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
In README.md, all the examples under the section `More complex usage-examples` can't be opened.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a mi

[2020-01-31 18:19] kafkahw opened #403 "Code for examples demo"
* **I'm submitting a ...**

  - [ ] bug report
  - [ *] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
Current examples demo comes with UI only.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **[Bug] What is the exp

[2020-02-03 13:40] onechiporenko commented on #402
@kafkahw I was able to open all of the examples and didn't get any issues. What kind of problem did you get?

[2020-02-04 18:15] kafkahw commented on #402
thanks for looking into this @onechiporenko . I think the issue was intermittent and it works fine to me now. I'm closing this issue.

[2020-02-04 18:15] #402 closed

[2020-04-01 18:45] Subaku opened #414 "Lots of questions..."
Hi,

This addon looks great! I'm running afoul of many things however and can't seem to get what I want working and the API docs confuse me with certain properties seemingly not working or just from the lack of examples to common situations.

For reference I'm running the latest versions of Ember and this addon:
Ember: 3.17.0
Ember Data: 3.17.0
Ember Models Table: 3.0.1

1. Does setting `sortPrope

[2020-04-09 13:00] onechiporenko commented on #414
Hello, @Subaku. Sorry, for late response.

1. `sortProperties` is a protected property and should not be set directly.
2. Property `disableSorting` should be set to `true` for column to prevent its sorting.
3. You are using `sortFunction` correctly.
4. Block-form can be used in this case:
[code]
5. You can use block-form:
[code]
6. Nope, you should do it yourself for now.
7. Yes, component `Models

[2020-04-22 20:27] tricia421 opened #416 "Get table information"
Question: I am trying to get information on the table's status before going to a new page. This is so that when I go back I can make sure the table is in the same state. I need to know how the table is sorted, if there is a search, and what the current page is. How do I do this?

[2020-04-23 17:41] onechiporenko commented on #416
Hi, @tricia421. Please, check demo [Action: Display Data Changed](http://onechiporenko.github.io/ember-models-table/v.3/bs3/#/examples/display-data-changed-action) or more complex example [Query Parameters](http://onechiporenko.github.io/ember-models-table/v.3/bs3/#/examples/query-params)

[2020-04-28 11:57] eccegordo commented on #414
The block form explains a lot now.

It would be helpful if in the docs somewhere maybe there was a new section "custom styles and class names with block helpers".

What is kind of tricky to follow is all the abstractions in the dummy app. So it takes a bit to follow along exactly how the custom theming works.

Even better would be a stand alone example app in a different repo.

[2020-04-28 13:28] onechiporenko commented on #414
@eccegordo here is entry-point for [API docs](http://onechiporenko.github.io/ember-models-table/v.3/docs/classes/Components.ModelsTable.html). Every component has a section with block and non-block usage.
Also there is a demo for block usage - http://onechiporenko.github.io/ember-models-table/v.3/bs4/#/examples/block-usage
It has two examples - simple and "not simple" :)

[2020-06-05 14:19] sutharmonil opened #421 "Lots of Question regarding custom components in rows"
I am using ember models table v 3.0.1 with Ember v 3.18.
I am trying to build some custom actions for each row like edit, delete etc.
I tried to follow this sample: http://onechiporenko.github.io/ember-models-table/v.3/bs4/#/examples/custom-components-in-cell

But I ended up more confused than ever. Please let me know if there are any example or tutorials I can learn from.

What I basically needs

[2020-06-05 16:38] sutharmonil commented on #349
I was not able to find any of the advice given here in a document or sample. Most of the attributes invoked here are not very obvious to me, if there is a sample I could follow please let me know.

[2020-06-05 18:20] cah-briangantzler commented on #349
This component, ember-models-table, creates the component for you in its code using the {{component }} helper. It does this by using the name of the component you specify. However, with only the name, there is no way for you to specify additional properties including actions.

What the component hash is doing is giving you the control to create the component yourself using the {{component }} helpe

[2020-06-05 18:24] cah-briangantzler commented on #421
refer to this issue, I hope that better explains how contextual components are being used. https://github.com/onechiporenko/ember-models-table/issues/349

[2020-06-06 15:09] sutharmonil commented on #349
If I write my models table like this:
@cah-briangantzler

`<ModelsTable @data={{this.data}} @columns={{this.columns}}
@columnComponents={{hash
    deleteRow=(
      component "users/delete-row"
      onClick=this.deleteRecord
      handleDelete = this.deleteRecord
    )}}
@useFilteringByColumns={{this.useFilteringByColumns}} @showColumnsDropdown={{this.showColumnsDropdown}}
@showComponentFooter={{

[2020-06-06 19:17] cah-briangantzler commented on #349
the current row is assigned to a variable record on our component for you. so you would refer to the current row as @record in your hbs or this.record in your javascript (this.args.record if glimmer component)

Would need more detail on how you are implementing the onClick handler in the component to diagnose. However, because the component template is created outside of the loop, there is no way

[2020-06-07 08:34] sutharmonil commented on #349
Thanks a lot for the the `record = this.args?.record;` it worked!

Here is the component implementation for the delete button which is supposed to delete the record via an api call :
JS->
`import Component from '@glimmer/component';
import { action } from '@ember/object';
import { inject as service } from '@ember/service';
import { tracked } from '@glimmer/tracking';

export default class UsersDel

[2020-06-08 00:00] cah-briangantzler commented on #349
You dont have to assign to locals first and I would think you would want this.
[code]

You dont really need the ? as you are not checking for undefined on handleDelete or record. Which is fine, they are required in your implementation and if not present should throw an error.

[2020-06-23 15:29] sutharmonil commented on #421
How does one:
1. Remove the search label and place a text as a placeholder inside the search box?
2. How to display a sort order icon on the column headers?
3. Also, would like to know if there is a setting to center the pagination's number of rows dropdown.
4. Also, default number of rows setting.

[2020-07-13 18:59] ulyssessantos opened #424 "#useFilter computed property was just overriden"
* **Deprecation report**

  - [x] deprecation report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

console log:
DEPRECATION: The <(unknown):ember190>#useFilter computed property was just overridden. This removes the computed property and replaces it with a plain value, and has been deprecated. If you want this behavior, c

[2020-07-14 15:44] ulyssessantos commented on #424
So, apparently there is still some computed property that has not been converted? does anyone else go through this?

[2020-07-17 10:17] onechiporenko commented on #424
Hi, @ulyssessantos. You should set `disableFiltering=true` for column. `useFilter` is a protected computed property and should not be set directly

[2020-07-17 11:07] ulyssessantos commented on #424
The property was not set directly, only @data and @column, as below:
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}>

[2020-07-17 11:54] onechiporenko commented on #424
What is inside `this.columns` ?

[2020-07-17 12:49] ulyssessantos commented on #424
import Route from '@ember/routing/route';
import fetch from 'fetch';
import { get, set } from '@ember/object';
import { getOwner } from '@ember/application';

export default class ModelsTableDataRoute extends Route {
    async model() {
        let response = await fetch('/events.json');
        let data = await response.json();
        return data.events;
    }

    setupController(controller, mo

[2020-07-17 13:14] onechiporenko commented on #424
should be `disableFiltering: true`

[2020-07-17 13:20] ulyssessantos commented on #424
I should have seen this, thank you very much!

[2020-07-17 13:32] #424 closed

[2020-08-10 11:04] #91 closed

[2020-08-10 11:04] #240 closed

[2020-08-10 11:04] #260 closed

[2020-08-10 11:04] #307 closed

[2020-08-10 11:04] #339 closed

[2020-08-10 11:04] #349 closed

[2020-08-10 11:04] #403 closed

[2020-08-10 11:04] #414 closed

[2020-08-10 11:04] #416 closed

[2020-08-10 11:04] #421 closed

[2020-08-27 20:39] csprocket777 opened #426 "Error `owner.lookup is not a function` after upgrading to Ember 3.20.2"
* **I'm submitting a ...**

  - [X] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
A console error at bootup.
[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **[Bug] What is the expected beh

[2020-08-31 09:54] onechiporenko commented on #426
Hello, @csprocket777. Thanks for report! Could  you please provide some demo-app with reproduction? I've tried to reproduce this issue and couldn't do this.

[2020-08-31 13:15] csprocket777 commented on #426
We are trying to narrow down the problem and suspect it has to do with how we're implementing a customized theme for the addon. We had it defined in a service and were bringing it in that way and are moving to do the initializer route. Basically, the reference to `this` isn't correct and is causing the `owner.lookup` to fail.

[2020-08-31 21:01] kallenboone commented on #426
I fixed the issue. The problem was that the `@componentPath` decorator in the `Default` theme required the theme to be injected into a component, or else the `owner.lookup` would fail. I fixed it by creating an initializer to register our custom theme, then injecting it into components using an instance initializer, instead of passing the custom theme as an argument to the `ModelTable` components.

[2020-08-31 21:03] csprocket777 commented on #426
What @kallenboone said above. 👍

[2020-08-31 21:03] #426 closed

[2020-09-01 11:41] onechiporenko commented on #426
@kallenboone good point. Going to update docs.

[2020-09-23 18:52] mohitsud opened #430 "Cannot read property 'map' of undefined"
* **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**

I am not able to get the most basic table working. It looks like it is looking for `pageSizeValues` but I believe this is optional.

Error is shown:

[code]

* **If the current behavior is a bu

[2020-09-24 14:14] onechiporenko commented on #430
Hello, @mohitsud
Are you sure you  didn't update `pageSizeValues`? I can't reproduce this issue.

[2020-10-04 16:45] mohitsud commented on #430
not sure what i did but the issue is fixed.

[2020-10-04 16:45] #430 closed

[2020-10-08 19:02] kwliou opened #431 "select.hbs `type` isn't used anymore"
* **I'm submitting a ...**

  - [ X ] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
After this PR https://github.com/onechiporenko/ember-models-table/pull/428
the ember-truth-helpers `is-equal` (takes 2 arguments) is being used instead of your custom `is-equal` in select.hbs

[2020-10-12 11:43] onechiporenko commented on #431
Hello, @kwliou. Thanks for your feedback.

I think I just forget to remove third parameter from `is-equal`. `Select` has a `type`-property used to track numbers. So, if `<ModelsTable::Select>` will get  `@type="number"`, its selected value will be converted to `number`.

Well, I can't promise that users won't pass "stringified" numbers to `options`, but I think it's not a `Select`'s problem :)

I'

[2020-10-13 15:38] #431 closed

[2021-04-08 22:53] lfrost opened #442 "In-line-edit does not work with Ember Paper."
* **I'm submitting a ...**

  - [X ] bug report

* **What is the current behavior?**
Inline-editing does not work with ember-paper.  I first observed this locally, but it can also be seen on the demo page.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Go to the v3/paper demo page at https://onechiporenko.github.io/ember

[2021-04-12 17:43] onechiporenko commented on #442
Hi, @lfrost. Yes, it's a bug. Going to fix it.

[2021-11-10 17:27] kcarmonamurphy opened #455 "Bundle size in v4"
Hi Oleg,

I wanted to first congratulate and thank you on your incredible work with this addon. We started using it last year and it's been a pleasure to customize it to suit our needs and also nice to see that it is being actively developed.

We conducted an audit of our bundle size and noticed that this addon takes up quite a chunk of the total build size:

<img width="614" alt="Screen Shot 2021

[2021-11-10 18:23] onechiporenko commented on #455
Hi, @kcarmonamurphy.
I'm glad that you and your team found `emt` useful!

About your question. Well, addon's "core" itself is pretty big. Here is a [default](https://github.com/onechiporenko/ember-models-table/tree/v4.0.0/addon/components/models-table/themes/default) theme with its components. And [models-table](https://github.com/onechiporenko/ember-models-table/blob/v4.0.0/addon/components/model

[2021-11-10 18:55] onechiporenko commented on #455
**UPD**
I've checked `4.0.0-beta.1` on the clean Ember App and get next:
![image](https://user-images.githubusercontent.com/2485873/141175515-92ddf439-9f32-46c2-8a9f-30dcc02e51b2.png)

[2021-11-17 20:11] kcarmonamurphy commented on #455
Thanks for getting back to me so quickly, @onechiporenko. I appreciate your detailed response and commitment to the project!

Seems like v4 is indeed a nice improvement and I'd be happy to give it a test drive. Is there an upgrade guide or Changelog I could take a look at?

Yes I do think stripping out the themes as addons would be a good idea. We heavily customize `emt` to suit our style guide an

[2021-11-17 23:01] onechiporenko commented on #455
@kcarmonamurphy, well... changelog doesn't exist for now. It's possible to generate typescript docs for projects locally. Later I'll add them to github-pages.

[2021-11-30 14:47] betocantu93 commented on #455
We also really enjoy this addon, been using it for over 3 years now, I could help with some of the refactor if needed.

In theory tree shaking should work out of the box with embroider if we assume people are hinting embroider with static analysis... instead of themes with strings, you do:

[code]

Or
[code]

Or
[code]
with
[code]

And inside ember-models-table source we should be using from @embr

[2021-12-02 16:01] onechiporenko commented on #455
HI, @betocantu93. Thanks for response!
I think moving from string-pathes to imports going to be a good idea.

[2021-12-02 19:10] onechiporenko commented on #455
Digging deeper, monorepo is good option too, however I didn't work with monorepo before. Going to have a lot new experience.

[2021-12-02 20:13] betocantu93 commented on #455
Yup, there are lots of examples out there, last I made was: [ember-eui](https://github.com/prysmex/ember-eui) which I heavily based on the [frontile](https://github.com/josemarluedke/frontile), I still think it would be great to move away from strings in combination of using the @embroider/util package to bring static analysis (tree shaking by default)

[2022-01-11 03:33] aaronucsd opened #461 "how to use expandable rows"
Sorry not an issue but i can not find a good way to leverage this expandable row locally.

https://onechiporenko.github.io/ember-models-table/v.2/#/examples/expandable-rows

I tried everything. I set `expandedRowComponent` to my custom row component. That shows up.
I'm have `expandedItems` equals to an empty []. It's not clear to me what to set for `themeInstance` or if that's optional. I can not

[2022-03-06 19:06] onechiporenko opened #483 "Add a way to figure out sorting order for columns"
* **I'm submitting a ...**

  - [ ] bug report
  - [x] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**

Default components implementation don't have any information about sort ordering for columns.

* **[Feature] What is the motivation / use case for changing the behavior?**

It's not possible to

[2022-03-06 19:40] #483 closed

[2022-04-12 17:33] dcharles525 opened #487 "Modal closes on first change on model when in component within table"
* **I'm submitting a ...**

  - [x] bug report
  - [ ] feature request
  - [ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
Currently, I have an edit button that opens an ember-bootstrap modal. This modal allows the user to edit the record in the row. However, when any value in the record (model) is changed, the modal

[2022-04-13 12:41] onechiporenko commented on #487
Hello, @dcharles525. Could you please provide a demo with reproduction? It's pretty hard to get what was wrong without it. Thanks

[2022-04-14 13:31] #487 closed, assigned to nobody

[2022-04-14 14:05] cah-briangantzler commented on #487
`@computed` has been deprecated. If you are on Ember 4.1+ You should use the `@cache` https://github.com/emberjs/ember.js/pull/19826. If you are on a version prior to Ember 4.1 you should use `@cache` from https://github.com/ember-polyfills/ember-cached-decorator-polyfill

[2022-07-29 21:23] scottaric opened #504 "Conditional shading of rows"
Apologies if this is the incorrect place for this question...

I've using v3.  Is it possible to conditionally change the background color of a row depending on the state of a record?  Is it only possible through the use of template cells or inline block usage?

Thanks in advance.

[2022-07-29 21:37] onechiporenko commented on #504
Hello, @scottaric. I think it's possible with block-usage. Some examples are at https://github.com/onechiporenko/ember-models-table/blob/v3.4.0/tests/dummy/app/templates/examples/block-usage.hbs

[2022-07-29 21:45] scottaric commented on #504
Wow, thanks for the quick reply!

Wasn't sure if there was a more direct way that I was missing.  I'll give Block Usage a shot. Thanks again.

[2022-09-15 11:27] #504 closed

[2022-09-15 11:27] #455 closed

[2022-10-02 17:49] armin11 opened #510 "Problem when selecting the currentPageNumber"
* **I'm submitting a ...**

  - [ x] bug report
  - [ ] feature request
  - ~[ ] support request~ Ask in the [official Ember Discord server](https://discord.gg/zT3asNS).

* **What is the current behavior?**
After selecting an arbitrary pagenumber the selected pagenumber is 1

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

[2022-10-04 15:27] armin11 commented on #510
https://user-images.githubusercontent.com/1188234/193861214-2c31259c-2507-4530-8ec2-e115adfc7090.mp4

[2022-10-05 13:00] onechiporenko commented on #510
Hello, @armin11. Thanks for demo!
What OS/browser are you using?
I'm using Win10/Chrome 106.0.5249.91 and issue does not appear :/

[2022-10-05 14:30] armin11 commented on #510
hi @onechiporenko - i used firefox 102.3.0esr (64-Bit) under debian 11 - the problem also occured in ff under windows 10 but i don't know the used version. so it seems to be a firefox problem. i tested it under chrome 106.0.5249.61 and there everything works as expected ;-)

[2022-10-05 14:32] onechiporenko commented on #510
Thanks. Going to test with FF

[2022-10-12 10:00] onechiporenko commented on #510
Manually updating `this.model` in the Controller was a not good idea.

[2022-10-12 10:00] #510 closed

[2022-10-12 12:54] armin11 commented on #510
thanx a lot ;-)